<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>About Us</title>
  </head>
  <body class="body">
    <h1 class="homeH1">About Me</h1>
    <section class="nav">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </section>
    <section class="textAndImage">
      <div>
        <p class="text">
          Elon Reeve Musk is a business magnate and investor. He is the founder,
          CEO and chief engineer of SpaceX; angel investor, CEO and product
          architect of Tesla, owner and CEO of Twitter, founder of The Boring
          Company; co-founder of Neuralink and OpenAI; and president of the
          philanthropic Musk Foundation. With an estimated net worth of around
          $196 billion as of February 15, 2023, primarily from his ownership
          stakes in Tesla and SpaceX, Musk is the second-wealthiest person in
          the world, according to both the Bloomberg Billionaires Index and
          Forbes's real-time billionaires list.
        </p>
      </div>
      <div>
        <img
          id="spaceXImage"
          src="/public/images/spaceX.jpg"
          alt="SpaceX photo" />
      </div>
    </section>
  </body>
</html>
