<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Elon Musk</title>
  </head>
  <body class="body">
    <h1 class="homeH1">Welcome to Elon Musk's unofficial website!</h1>
    <section class="nav">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </section>
    <section class="textAndImage">
      <div class="text">
        <p>
          Yvo and Michel just trying to do an Elon Musk page. For more info
          about the Alien, just visit his official website.
        </p>
      </div>
      <div id="elon">
        <img
          id="homeImage"
          src="/public/images/elonMusk.png"
          alt="Elon Musk's profile pic" />
      </div>
    </section>
  </body>
</html>
