<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Works</title>
  </head>
  <body class="body">
    <h1 class="homeH1">Works</h1>
    <section class="nav">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </section>
    <div id="wrap">
      <img
        class="worksImages"
        src="/public/images/tesla.jpg"
        alt="Tesla Image" />
      <img
        class="worksImages"
        src="/public/images/paypal.png"
        alt="Paypal Image" />
      <img
        class="worksImages"
        src="/public/images/spaceX.jpg"
        alt="SpaceX Image" />
      <img
        class="worksImages"
        src="/public/images/twitter.jpg"
        alt="Twitter Image" />
    </div>
  </body>
</html>
